<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style>

        .table {
            width: 655px;
            height: 955px;
            margin: auto;
            font-size: 11px;
            border-collapse: collapse
        }

        td {
            border: 1px solid black;
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="padding: 10px;">
<table class="layui-table table">
    <col width="50"/>
    <col width="100"/>
    <col width="130"/>
    <col width="80"/>
    <col width="40"/>
    <col width="75"/>
    <col width="65"/>
    <col width="100"/>

    <tr height="20">
        <td colspan="8" style="font-weight:bold; font-size:16px;border:0;">城固县汽车运输公司</td>
    </tr>
    <tr height="20">
        <td colspan="8" style="font-weight:bold; font-size:20px;border:0;">员工简历表</td>
    </tr>
    <tr height="26">
        <td colspan="8" style="border:0;text-align:left;">编号：{{ yg.pk }}</td>
    </tr>
    <tr height="40">
        <td>姓名</td>
        <td>{{ yg.name }}</td>
        <td>性别</td>
        <td colspan="2">{{ yg.gender }}</td>
        <td>民族</td>
        <td colspan="2">{$res.rq}</td>
    </tr>
    <tr height="40">
        <td colspan="2">身份证号码</td>
        <td colspan="2">{{ yg.sfz }}</td>
        <td colspan="2">出生日期</td>
        <td colspan="2">年月}日</td>
    </tr>
    <tr height="40">
        <td colspan="2">工作岗位</td>
        <td>{{ yg.bm }}</td>
        <td>职务</td>
        <td>{$res.zw}</td>
        <td>政治面貌</td>
        <td colspan="2">{$res.syrq}</td>
    </tr>
    <tr height="50">
        <td colspan="2" width="50">住  址</td>
        <td colspan="4" width="415">陕西省城固县{$list.zhuzhi
            }
        </td>
        <td rowspan="2" colspan="2" width="127"><img src="/media/{{ MEDIA_URL }}{{ yg.sfz_img }}" height="80px" alt=""
                                                     onmouseover="layer.tips('<img src=/gsyg/{$res.pic} width=200%>',this,{time:10000,tips: [1, '#fff']});"
                                                     onmouseout="layer.closeAll();"/></td>
    </tr>
    <tr height="50">
        <td colspan="2" width="50">手机</td>
        <td colspan="2" width="144">{{ yg.mobile }}</td>
        <td>qq</td>
        <td></td>

    </tr>

    <tr height="300">
        <td>个人履历</td>
        <td colspan="7" style="text-align:left" valign="top">{{ yg.desc |safe }}</td>
    </tr>
    <tr height="180">
        <td>奖惩情况</td>
        <td colspan="7" style="text-align:left" valign="top">

        </td>
    </tr>
    <tr height="48">
        <td>备注</td>
        <td colspan="7">{$res.bz}</td>
    </tr>

</table>
<script>
    layui.use(['layer', 'form'], function () {
        form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
    });
</script>
</body>
</html>